body {
    font-family: 'Open Sans Condensed';
    padding: 0;
    background-color: #DFE0E2;
}
  
  a {
    text-decoration: none;
    color: black;
  }
  
  * {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  
  *,*:active, *:focus {
    outline: 0;
    border: none;
    
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }